*{
  box-sizing: border-box;
  padding: 0px;
}

h1, h2, h3, h4, a {
  font-family: 'Baloo Bhai', cursive;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

body {
  color: #5a5a5a;
  width: 100%;
  /* min-height: 100%; */

}
table.table {
    margin-top: 55px;
}
/* .collapse {
  display: inline-block !important;
} */

.navbar-light .navbar-nav .nav-link {
  color: rgba(250, 207, 15, 0.5);
}

.nav-link{
  font-size: 24px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(238, 108, 75);
}

a#navbarDropdownMenuLink {
  color: #51c5d6;
  text-align: center;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.container-fluid{
  max-width: 100%;
}


.col-lg-4 {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.col-lg-4 h2 {
  padding-top: 20px;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.card{
  padding: 0;
  display: block;
  width: 60%;
  height: 50vh;
  margin: 20px auto;
  border-radius: 10px;
}

.card:hover{
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.jumbotron{
  background-color: #aecc51;
  padding: 15px 15px 15px 15px;
}

.promo{
  display: flex;
  align-items: center;
}

.img-fluid{
  margin-right: 0px;
}

.promo-text h2{
  color: white;
  font-size: 65px;
  text-shadow: 1px 1px gray;
}

.promo-text p{
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px gray;
  font-weight: bold;
}

.info-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.info-block li{
  list-style: none;
}

.info-block li a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #5a5a5a;
}

.feedback{
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
}

.feedback img{
  border-radius: 50%;
}

.feedback .col-lg-3{
  padding: 0;
}

footer{
  width: 100%;
  margin-top: 20px;

}

footer p{
  margin-top: 0;
    margin-bottom: 0;
}

#cpr {
  height: 60px;
  line-height: 60px;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0px !important;
}

#cpr p a{
  color: rgba(250, 207, 15);
}

.course-box{
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
}

.course-head{
  background-color: #5a5a5a;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
}

.course-head h2{
  margin-bottom: 0;
}

.course-content{
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 0px; */
}

.course-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-info p{
  font-size: 16px;
  margin-right: 25px;
}

.course-img{
  width: 150px;
  height: 150px;
  margin: 25px;
}
.dropdown, .dropup{
  right: 0px;
}

@media only screen and (min-width: 768px){
  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .info-block{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
  }
  .dropdown, .dropup{
    right: 15px;
  }
}

@media only screen and (min-width: 1200px){
  .card-container{
    width: 75%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .info-block{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

ul.navbar-nav.mx-auto {
    text-align: center;}

    body{
      margin: 0;
      padding: 0;

    }

    .header {
      margin-top: 50px;
      padding: 50px 50px;
      background-color: darkslategrey;
      color: white;
      border-radius: 10px;
    }

    .origin-text{
      margin-top: 20px;
      padding: 20px 20px;
      border-radius: 10px;
      background-color: rgb(238, 108, 75);
      color: white;
    }

    .text {
      margin: 0;
    }

    .timer-wrapper{
      background-color: orange;
      padding: 5px;
      letter-spacing: 2px;
      align-content: center;
      border-radius: 10px;
    }

    .timer{
      font-size: 3em;
      font-weight: bold;
      color: white;
      margin-left: 6px;

    }

    .btn-primary{
      padding: 10px;
      border-radius: 10px;
      font-size: 3em;
      font-weight: bold;
    }

    .text-wrapper{
      margin: 20px;
      border: 10px solid orange;
      border-radius: 10px;
    }

    #textArea{
      width: 100%;
    }
    .text{
      font-size: 25px;
    }
    /* Profile page */

    .profile-container {
      padding: 50px 50px 50px 50px;
    }
    .profile-info {
      background-color: white;
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .profile-info .profile-info-content {
      padding: 20px;
      height: 300px;
    }

    .profile-info .profile-info-content img {
      display: block;
      margin-left: auto;
      margin-right: auto
    }

    .profile-info .profile-info-content h3 {
      text-align: center;
    }

    .avatar {
      object-fit: cover;
      width: 160px;
      height: 160px;
      border-radius: 100px;
    }

    .learning-content {
      background-color: #f1f1f1;
      display: grid;
      grid-gap: 10px;
      padding: 30px 70px;
      line-height: 30px;
      justify-items: center;
    }

    .learning-content p {
      font-size: 40px;
    }

    .my-progress {
      background-color: white;
      display: flex;
      justify-content: center;
      padding: 30px 50px;
      height: 612px;
      overflow: auto;
    }
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');



    .custom-box{
        max-width: 666px;
        background-color: #ffffff;
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
    }

    .custom-box::before,
    .custom-box::after{
       content: '';
       clear: both;
       display: table;
    }

    .custom-box.hide {
        display: none;
    }

    .home-box h3 {
        font-size: 18px;
        color: #000000;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 25px;
    }

    .home-box p {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 22px;
        color: #000000;
        font-weight: 400;
    }

    .home-box p span {
        font-weight: 500;
    }

    .home-box.btn {
        margin-top: 20px;
    }

    .quiz_btn {
        padding: 15px 45px;
        background-color: #7bcedc;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .quiz-box .question-number,
    .quiz-box .question-text,
    .quiz-box .option-container,
    .quiz-box .next-question-btn,
    .quiz-box .answer-indicator{
        width: 100% ;
        float: left;
    }

    .quiz-box .question-number{
        font-size: 18px;
        color: #7bcedc;
        font-weight: 600;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        line-height: 25px;

    }
    .quiz-box .question-text{
        font-size: 22px;
        color:#000000;
        line-height: 28px;
        font-weight: 400;
        padding: 20px 0;
        margin: 0;
    }

    .quiz-box .option-container .option{
        background-color: #cccccc;
        padding: 13px 15px;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: capitalize;
        opacity: 0;
        animation: fadeIn 0.3s ease forwards;
        position: relative;
        overflow: hidden;
    }

    .quiz-box .option-container .option.already-answered {
        pointer-events: none;
    }

    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .quiz-box .option-container .option.correct::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: green;
        z-index: -1;
        animation: slideInLeft .5s ease forwards
    }

    @keyframes slideInLeft {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    .quiz-box .option-container .option.wrong::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: red;
        z-index: -1;
        animation: slideInLeft .5s ease forwards
    }

    .quiz-box .option-container .option.wrong{
        color: #ffffff;
    }

    .quiz-box .option-container .option.correct{
        color: #ffffff;
    }

    .quiz-box .quiz_btn{
        margin: 15px 0;
    }

    .quiz-box .answer-indicator{
        border-top: 1px solid #cccccc;
    }
    .quiz-box .answer-indicator div{
        height: 40px;
        width: 40px;
        display: inline-block;
        background-color: #cccccc;
        border-radius: 50%;
        margin-right: 3px;
        margin-top: 15px;
    }

    .quiz-box .answer-indicator div.correct {
        background-image: url("../img/icon/png/010-check.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .quiz-box .answer-indicator div.wrong {
        background-color: red;
        background-image: url("../img/icon/png/076-remove.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }


    .result-box {
        text-align: center;
    }

    .result-box hide {
        display: none;
    }

    .result-box h1 {
        font-size: 36px;
        line-height: 42px;
        color: #7bcedc;
    }

    .result-box table {
        width: 100%;
        border-collapse: collapse;
        margin: 30px 0;
    }

    .result-box table td {
        border: 1px solid #cccccc;
        padding: 8px 15px;
        font-weight: 500;
        color: #000000;
        width: 50%;
        text-align: left;
        font-size: 18px;
    }

    .result-box .btn {
        margin-right: 20px;
    }

    .quiz_btn{
        font-weight: 600;
    }
    .container-quiz {
    min-height: 90%;
    background-color:#7bcedc;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 40px 0px;
    /* padding: 0; */
    outline: none;
}
