*{
  box-sizing: border-box;
  padding: 0px;
}

h1, h2, h3, h4, a {
  font-family: 'Baloo Bhai', cursive;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

body {
  color: #5a5a5a;
  width: 100%;
  /* min-height: 100%; */

}
table.table {
    margin-top: 55px;
}
/* .collapse {
  display: inline-block !important;
} */

.navbar-light .navbar-nav .nav-link {
  color: #01c5c4cf;
}

.nav-link{
  font-size: 24px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(238, 108, 75);
}

a#navbarDropdownMenuLink {
  color: #51c5d6;
  text-align: center;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.container-fluid{
  max-width: 100%;
}


.col-lg-4 {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.col-lg-4 h2 {
  padding-top: 20px;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.card{
  padding: 0;
  display: block;
  width: 60%;
  height: 50vh;
  margin: 20px auto;
  border-radius: 10px;
}

.card:hover{
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.jumbotron{
  background-color: #aecc51;
  padding: 15px 15px 15px 15px;
}

.promo{
  display: flex;
  align-items: center;
}

.img-fluid{
  margin-right: 0px;
}

.promo-text h2{
  color: white;
  font-size: 65px;
  text-shadow: 1px 1px gray;
}

.promo-text p{
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px gray;
  font-weight: bold;
}

.info-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.info-block li{
  list-style: none;
}

.info-block li a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #5a5a5a;
}

.feedback{
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
}

.feedback img{
  border-radius: 50%;
}

.feedback .col-lg-3{
  padding: 0;
}

footer{
  width: 100%;
  margin-top: 20px;

}

footer p{
  margin-top: 0;
    margin-bottom: 0;
}

#cpr {
  height: 60px;
  line-height: 60px;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0px !important;
}

#cpr p a{
  color: rgba(250, 207, 15);
}

.course-box{
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
}

.course-head{
  background-color: #5a5a5a;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
}

.course-head h2{
  margin-bottom: 0;
}

.course-content{
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 0px; */
}

.course-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-info p{
  font-size: 16px;
  margin-right: 25px;
}

.course-img{
  width: 150px;
  height: 150px;
  margin: 25px;
}
.dropdown, .dropup{
  right: 0px;
}

@media only screen and (min-width: 768px){
  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .info-block{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
  }
  .dropdown, .dropup{
    right: 15px;
  }
}

@media only screen and (min-width: 1200px){
  .card-container{
    width: 75%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .info-block{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

ul.navbar-nav.mx-auto {
    text-align: center;}

    body{
      margin: 0;
      padding: 0;

    }

    .header {
      margin-top: 50px;
      padding: 50px 50px;
      background-color: darkslategrey;
      color: white;
      border-radius: 10px;
    }

    .origin-text{
      margin-top: 20px;
      padding: 20px 20px;
      border-radius: 10px;
      background-color: rgb(238, 108, 75);
      color: white;
    }

    .text {
      margin: 0;
    }

    .timer-wrapper{
      background-color: orange;
      padding: 5px;
      letter-spacing: 2px;
      align-content: center;
      border-radius: 10px;
    }

    .timer{
      font-size: 3em;
      font-weight: bold;
      color: white;
      margin-left: 6px;

    }

    .btn-primary{
      padding: 10px;
      border-radius: 10px;
      font-size: 3em;
      font-weight: bold;
    }

    .text-wrapper{
      margin: 20px;
      border: 10px solid orange;
      border-radius: 10px;
    }

    #textArea{
      width: 100%;
    }
    .text{
      font-size: 25px;
    }
    /* Profile page */

    .profile-container {
      padding: 50px 50px 50px 50px;
    }
    .profile-info {
      background-color: white;
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .profile-info .profile-info-content {
      padding: 20px;
      height: 300px;
    }

    .profile-info .profile-info-content img {
      display: block;
      margin-left: auto;
      margin-right: auto
    }

    .profile-info .profile-info-content h3 {
      text-align: center;
    }

    .avatar {
      object-fit: cover;
      width: 160px;
      height: 160px;
      border-radius: 100px;
    }

    .learning-content {
      background-color: #f1f1f1;
      display: grid;
      grid-gap: 10px;
      padding: 30px 70px;
      line-height: 30px;
      justify-items: center;
    }

    .learning-content p {
      font-size: 40px;
    }

    .my-progress {
      background-color: white;
      display: flex;
      justify-content: center;
      padding: 30px 50px;
      height: 612px;
      overflow: auto;
    }
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');



    .custom-box{
        max-width: 666px;
        background-color: #ffffff;
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
    }

    .custom-box::before,
    .custom-box::after{
       content: '';
       clear: both;
       display: table;
    }

    .custom-box.hide {
        display: none;
    }

    .home-box h3 {
        font-size: 18px;
        color: #000000;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 25px;
    }

    .home-box p {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 22px;
        color: #000000;
        font-weight: 400;
    }

    .home-box p span {
        font-weight: 500;
    }

    .home-box.btn {
        margin-top: 20px;
    }

    .quiz_btn {
        padding: 15px 45px;
        background-color: #7bcedc;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .quiz-box .question-number,
    .quiz-box .question-text,
    .quiz-box .option-container,
    .quiz-box .next-question-btn,
    .quiz-box .answer-indicator{
        width: 100% ;
        float: left;
    }

    .quiz-box .question-number{
        font-size: 18px;
        color: #7bcedc;
        font-weight: 600;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        line-height: 25px;

    }
    .quiz-box .question-text{
        font-size: 22px;
        color:#000000;
        line-height: 28px;
        font-weight: 400;
        padding: 20px 0;
        margin: 0;
    }

    .quiz-box .option-container .option{
        background-color: #cccccc;
        padding: 13px 15px;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: capitalize;
        opacity: 0;
        animation: fadeIn 0.3s ease forwards;
        position: relative;
        overflow: hidden;
    }

    .quiz-box .option-container .option.already-answered {
        pointer-events: none;
    }

    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .quiz-box .option-container .option.correct::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: green;
        z-index: -1;
        animation: slideInLeft .5s ease forwards
    }
.team-member img {
  object-fit: cover;
}
    @keyframes slideInLeft {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    .quiz-box .option-container .option.wrong::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: red;
        z-index: -1;
        animation: slideInLeft .5s ease forwards
    }

    .quiz-box .option-container .option.wrong{
        color: #ffffff;
    }

    .quiz-box .option-container .option.correct{
        color: #ffffff;
    }

    .quiz-box .quiz_btn{
        margin: 15px 0;
    }

    .quiz-box .answer-indicator{
        border-top: 1px solid #cccccc;
    }
    .quiz-box .answer-indicator div{
        height: 40px;
        width: 40px;
        display: inline-block;
        background-color: #cccccc;
        border-radius: 50%;
        margin-right: 3px;
        margin-top: 15px;
    }

    .quiz-box .answer-indicator div.correct {
        background-image: url("../img/icon/png/010-check.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .quiz-box .answer-indicator div.wrong {
        background-color: red;
        background-image: url("../img/icon/png/076-remove.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }


    .result-box {
        text-align: center;
    }

    .result-box hide {
        display: none;
    }

    .result-box h1 {
        font-size: 36px;
        line-height: 42px;
        color: #7bcedc;
    }

    .result-box table {
        width: 100%;
        border-collapse: collapse;
        margin: 30px 0;
    }

    .result-box table td {
        border: 1px solid #cccccc;
        padding: 8px 15px;
        font-weight: 500;
        color: #000000;
        width: 50%;
        text-align: left;
        font-size: 18px;
    }

    .result-box .btn {
        margin-right: 20px;
    }

    .quiz_btn{
        font-weight: 600;
    }
.container-quiz {
    min-height: 90%;
    background-color:#7bcedc;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 40px 0px;
    outline: none;
}
#comment_form{

  padding-top: 0;

  padding-bottom: 10px;

}

.btn2 {

    width: 15%;

    border-radius: 7px;

}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
/* forum */
h1.forum-title {
    font-weight: 500;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.banner-forum {
    height: 20vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    background: linear-gradient(90deg, rgba(185,147,214,1) 0%, rgba(140,166,219,1) 100%);
    color: white;
    display: flex;
    margin: 0 auto;
}

.cover-forum{
    background: #EFF1F5;
    padding : 30px 0px 60px;
}

.left {
    background-color: white;
    border-radius: 10px;
}

.single {
    padding: 17px 30px 96px;
    border-bottom: 4px solid #ececec;
    border-radius: 10px;
}



.poster_avatar img {
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

a.info-title {
    color: black;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
}

.single-info {
    float: left;
    width: calc(100% - 190px);
}

.info-detail {
    font-size: 13px;
    margin-top: 12px;
}

a.poster_avatar {
    display: inline-block;
}

span#day:before {content: "\00a0\00a0 . \00a0\00a0";}

a.tag {
    display: inline-block;
    line-height: 24px;
    border-radius: .25rem;
    padding: 0 12px;
    color: #0674ec;
    font-weight: 600;
    background: #0674EC12;
    margin-left: 10px;
}

.single-box{
    float: right;
}

.single-box ul li{
    display: inline-block;
    text-align: center;
    padding: 2px 20px 5px;
    border-radius: 3px;
    background: #eff1ef;
}

.left-list {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(108,111,115,0.1);
}

p.number {
    font-weight: 500;
    color: black;
}

.single-box ul li span {
    font-size: 13px;
    color: #747a86;
}

.single-box ul li + li {
    margin-left: 10px;
}

aside#sidebar {
    display: block;
}

a.new_post {
    background: #0093d0;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
    padding: 25px 30px;
    display: block;
}


.content-card {
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 4px rgba(108,111,115,0.1);
    margin-bottom: 30px;
}

.card-title.forum {
    padding: 30px 30px 28px;
    display: block;
    margin-bottom: 0;
    border-bottom: 2px solid #ececec;
}


.card-body {
    word-break: break-word;
    padding: 20px 20px;
}

.card-body .search {
    position: relative;
}

.search input {
    border-radius: 20px;
    line-height: 45px;
    height: 45px;
    border: 1px solid #d9dfe5;
    padding: 0 25px;
}

button.search_btn {
    position: absolute;
    line-height: 45px;
    right: -8px;
    top: 0;
    border: 0;
    width: 45px;
    text-align: center;
    background: #0674ec;
    border-radius: 50%;
}

.icon_search path {
    color: white;
}

ul.card-content {
    padding: 20px 16px;
}

.card-content li {
    list-style: none;
}

.card-content li a {
    display: block;
    line-height: 36px;
    color: #00000075;
    /* font-weight: 500; */
}

span.icon_chevron {
    font-size: 11px;
    margin-right: 10px;
    color: gray;
}

span.item-count {
    float: right;
}

.pagination-area {
    text-align: center;
}

.pagination-area .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0 0;
    border-radius: 4px;
}

.pagination-area .page-number {line-height: 36px;display: inline-block;min-width: 48px;border-radius: 25px;font-weight: 500;margin-right: 2px;text-align: center;}

a.page-number:hover, .current {
    background: #0674ec;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
}

input#title {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 0 20px;
}

.text-field {
    line-height: 50px;
    background: #f4f5f8;
    border: none;
}

input {
    height: 45px;
    border-radius: 2px;
    color: black;
    font-size: 16px;
}

.single-post-content {
    padding: 25px 30px;
}
textarea.post-content {
    max-width:100%;
    padding: 25px 70px;
}


.single-post {
    margin-bottom: 30px;
}

.post-content {
    border-bottom: 2px solid #ececec;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.post-title {
    padding-top: 10px;
    display: inline-block;
    padding-bottom: 10px;
}

h1#post-title {
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
}

.post-meta {
    font-size: 14px;
}

.author {
    display: inline-block;
}

.author p {
    display: inline-block;
    margin-right: 15px;
    color: gray;
}



.date_time {
    display: inline-block;
}

.date-time p, comment-view p {color: gray;}

.date_time p {
    color: gray;
    margin-right: 15px;
    display: inline-block;
}

.comment-view {
    display: inline-block;
}

.comment-view p {
    color: gray;
    display: inline-block;
    margin-right: 15px;
}


#content-div p {
    margin-bottom: 0;
    line-height: 30px;
}

ul.nav.nav-tabs {
    border: 0;
}

ul.nav-tabs li {
    position: relative;
    display: inline-block;
    margin-right: -1px;
    border-right: 1px solid #ececec;
}

a.active {
    border-bottom: 0;
    border: 0;
    background: none;
    color: #0674ec;
}

ul.nav-tabs li a.active:before {
    opacity: 1;
    visibility: visible;
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #0674ec;
    left: 0;
}

ul.nav-tabs li a span {
    font-weight: 500;
}



.media-left {
    margin-right: 0;
}

.comment-form-area .comment-form .media-left a {
    display: inline-block;
    height: 70px;
    width: 70px;
}

.media-body {
    width: 80%;
    overflow-wrap: break-word;
    padding: 10px 20px 10px 20px;
    flex: 1;
}

div#new-comment-form {
    padding: 0px 30px 30px 30px;
}

.media-left img.media-object {
    max-width: 70%;
    border-radius: 50%;
}


.single-post {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(108,111,115,0.1);
}

.search input{
  min-width: 100%;
}

.single{
  padding: 17px 30px 0px;
}

.single-box{
  float:none;
}


.cover-forum .container .row .col-lg-4 {
  text-align: left;

}


.banner-faq, .banner-forum {
  height: 20vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  background: linear-gradient(90deg, #24C6DC 0%, #514A9D 100%);
  color: white;
  display: flex;
  margin: 0 auto;
}

.banner-faq p{
  font-size: 12px;
  font-style: italic;

}

 /* FAQ */
 .accordion-item{
  background-color: #283042;
  border-radius: 10px;
  margin-bottom:5px;
  padding: 12px;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link{
  font-size: 20px;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
}

.accordion-link .fa-minus {
  display: none;
}

.answer {
  position: relative;
  background-color: #212838;
  max-height: 0;
  overflow: hidden;
  transition: max-height 650ms;
}
.answer::before{
  content:"";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: rgba(255,255,255,.6);
  font-size: 15px;
  padding: 20px;
}

.accordion-item:target .answer {
  max-height: 20rem;
}
.accordion-item:target .accordion-link .fa-plus {
  display: none;
}

.accordion-item:target .accordion-link .fa-minus {
  display: block;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #8fc460;
}

@media only screen and (max-width: 990px) {
  textarea.post-content {
      max-width:100%;
      padding: 25px 100px;
  }
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 506px) {
  a.info-title{
    font-size: 14px;
  }
  a.tag{
    font-size: 10px;
  }
.info-detail{
margin-top:0px;
font-size: 10px;
}
.single-box ul li {
  padding: 0px 15px 3px;
  margin-top: 10px;
}
}
@media only screen and (max-width: 470px) {
  .single-info{
    width: 100%;
  }
}
.checked{
  color:orange;
}
.progress {
    width: 40%;
}
