.banner{
  width: 95%;
  margin: 0 auto;
  background-color: #73a832;
  text-align: center;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1{
   color: #ffffff;
   font-size: 40px;
}

.team-info{
  /* width: 90%;
  margin: 0 auto; */
}

.team-member{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.team-member img{
  border-radius: 50%;
  object-fit: cover;
}

.contact-block{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

ul#myTab {
  /* background: #D6EDE6; */
  border-radius: 10px;
}
ul#myTab.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: white;
  background-color: #3A8977;
}

#myTabContent h2 {
  color: #FFA17A;
}

@media only screen and (max-width: 768px){
  .team-member{
    grid-template-columns: auto;
  }
  .contact-block{
    grid-template-columns: auto;
  }
}
