.banner{
  width: 95%;
  margin: 0 auto;
  background-color: #73a832;
  text-align: center;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1{
   color: #5a5a5a;
   font-size: 40px;
}

.team-info{
  width: 90%;
  margin: 0 auto;
}

.team-member{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.team-member img{
  border-radius: 50%;
}

.contact-block{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}



@media only screen and (max-width: 768px){
  .team-member{
    grid-template-columns: auto;
  }
  .contact-block{
    grid-template-columns: auto;
  }
}
